<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>day_count</key>
    <integer>5</integer>
    <key>criterion</key>
    <string>none</string>
    <key>register_push_notifications_token_with_server</key>
    <false/>
    <key>handle_push_notifications</key>
    <false/>
</dict>
</plist>
